/*
* "View on BitBucket" buttons on the Project page
*/
.bitbucketButton {
	position: relative;
    right: 5px;
	background-color: #19c589;
	border-radius: 6px;
	text-align: center;
	float: right;
	width: 140px;
	height: 30px;
	font-variant: small-caps;
}
.bitbucketButton a{
	display:block;
	color: white;
	text-decoration: none;
	line-height: 30px;
}
.bitbucketButton:hover {
	background-color: white;
	color: #19c589;
	display: block;
}
.bitbucketButton:hover a{
	display:block;
	background-color: white;
	color: #19c589;
	border-radius: 6px;
}
/*
* A fix for the buttons, by floating it inside this element, it won't sit on top of the text.
*/
.buttonHolder{
	height: 30px; /*must be same height as the bitbucketButton*/
	width:100%;
	position: inline;
}