<h1>About</h1>
<div class="boxOfText">
<p>I'm an IT professional with over 24 years of diverse experience that includes application development, enterprise architecture, strategic planning and portfolio governance, business process design, investment optimization, and third party vendor technical relationship oversight.</p>
<p>I have an <b>innovation mindset</b> and love to explore and prototype new technologies for business and customer benefit. </p>
</div>

<div class="groupedText">
<p><b>Technical Skills</b>
	I view my key strengths as the following: <br>
	<div class="groupedText">
<ul style="list-style-type:disc">
	<li>
		Innovation leader
	</li>
	<li>
		Technical mentor
	</li>
	<li>
		Effective communicator
   </li>
	<li>
		Strategic planning and portfolio governance
	</li>
	<li>
		Investment optimization
	</li>
	<li>
		Business process improvement
	</li>
	<li>
		Enterprise Content Management platforms
	</li>
	<li>
		Software development (C#, Java, AWS, Unity3D)
	</li>
</ul>
</div>
	Specific experience and development highlights can be found on my 'Experience' and 'Projects' pages.

</p>
</div>

<div class="groupedText">
<p><b>Personal</b>
	I'm (almost) a Florida native, having moved from the midwest just after High school and completing my BS Computer Science at Florida Atlantic University. <br>
	I love the Ocean and am an avid Kayaker, as well as Scuba Diver - helping lead a local dive club called <a href="http://www.kayuba.org">Kayuba</b></a>. <br>
	My other interests include 3D modeling/rendering, motorcycling (Harley Deuce), playing guitar, and traveling.
	<p>

</div>

<div class="groupedText">
<p><b>Currently</b>
	I'm very engaged in both Virtual Reality, as well as Voice computing. Using Oculus Rift/Unity3D, I created the first VR demos for American Express to demonstrate use cases in eLearning as well as virtual Architecture (building) walkthroughs.<br>
	I'm proud to be one of the first (1000) Amazon "Alexa" skill developers, having developed <b>"The Music Man"</b> for Amazon Echo customers. "The Music Man" is written in Java, hosted in AWS/Lambda, and leverages a third party "Songkick" API to allow users to query where their favorite musical
	artists are playing next, or the calendar of events coming to a local venue.
</p>
</div>


